@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$root-background-color: #077D9A;
$block-background-color: #0E677E;

$default-text-color: #ffffff;
$default-font-family: "Montserrat", san-serif;
$default-font-size: 16px;

$button-color: #0087A9;
$button-color_choosed: #00A5CE;
$main-button-color: #0AC32F;

$table-background-color: #583B0E;